# =============================================
# SERVER
# =============================================
PORT=
# Cổng server chạy — đổi thành 5000, 8000... nếu 3000 bị chiếm

# =============================================
# KẾT NỐI SQL SERVER
# =============================================
DB_HOST=
# Địa chỉ máy chủ SQL Server
# localhost = chạy trên máy tính của bạn
# Nếu SQL Server trên máy khác thì điền IP: 192.168.1.10

DB_PORT=1433
# Cổng mặc định của SQL Server, thường không cần đổi

DB_NAME=
# Tên database đã tạo trong SSMS (t để là library_management nhé)

DB_USER=
# Tên tài khoản SQL Server (dùng sa nhé vào mục Security dưới chỗ Database trong ssms để đổi pass)
# sa = tài khoản mặc định, hoặc dùng tài khoản khác nếu có

DB_PASSWORD=
# Mật khẩu SQL Server của bạn — điền đúng vào đây

JWT_SECRET=
# Chuỗi bí mật để ký token
# Ví dụ: library@!#$%2024_super_secret_do_not_share

JWT_EXPIRES_IN=
# Token hết hạn sau bao lâu
